footer{
    background-color: #d6cccc;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
footer img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}